<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{css/feather.css}">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{css/dataTables.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{css/style2.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{images/favicon.png}" />
</head>

<body>
    <div th:fragment="header">
        <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
                <a class="navbar-brand brand-logo mr-5" th:href="@{/admin}">Ngu Hanh Hill</a>
                <a class="navbar-brand brand-logo-mini" th:href="@{/admin}"><img src="images/logo-mini.svg"
                        alt="logo" /></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
                <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
                    <span class="icon-menu"></span>
                </button>
                <ul class="navbar-nav navbar-nav-right">
                    <li class="nav-item nav-profile dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" id="profileDropdown">
                            <th:block th:if="${session.user != null}">
                                <img th:src="@{/images/{imageUrl}(imageUrl=${session.user.avatar})}" alt="Avatar" />
                            </th:block>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right navbar-dropdown"
                            aria-labelledby="profileDropdown">
                            <a class="dropdown-item" th:href="@{/user/profile}">
                                <i class="ti-user text-primary"></i>
                                Chỉnh sửa thông tin
                            </a>
                            <a class="dropdown-item" th:href="@{/user/logout}">
                                <i class="ti-power-off text-primary"></i>
                                Đăng xuất
                            </a>
                        </div>
                    </li>
                </ul>
                <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button"
                    data-toggle="offcanvas">
                    <span class="icon-menu"></span>
                </button>
            </div>
        </nav>
    </div>

</body>

</html>

<script src="js/vendor.bundle.base.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/jquery.dataTables.js"></script>
<script src="js/dataTables.bootstrap4.js"></script>
<script src="js/dataTables.select.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<script src="js/chart.js"></script>