<!DOCTYPE html>
<html lang="en">

<head>
  <title>Ngũ Hành Hill</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

  <link rel="stylesheet" th:href="@{css/animate1.css}">

  <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
  <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
  <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

  <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
  <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">

  <link rel="stylesheet" th:href="@{css/flaticon1.css}">
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/header.css}">


</head>

<body>
  	<!-- header -->
	<header th:insert="~{User/header2 :: header}"></header>
	<!-- END nav -->
  <section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
        <div class="col-md-9 ftco-animate pb-5 text-center">
          <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Trang chủ <i
                  class="fa fa-chevron-right"></i></a></span> <span>Giới thiệu <i class="fa fa-chevron-right"></i></span>
          </p>
          <h1 class="mb-0 bread">Giới thiệu</h1>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section services-section">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
          <div class="w-100">
            <span class="subheading">Chào mừng đến với Ngũ Hành Hill</span>
            <h2 class="mb-4">Đã đến lúc bắt đầu cuộc phiêu lưu của bạn</h2>
            <p>Có những khoảnh khắc khi mà mọi lo lắng và mất mát đã qua lắng xuống trong sự thảnh thơi và yên bình vô biên của thiên nhiên dành tặng cho bạn.</p>
            <p> Thiên đường bình dị này là thiên đường nơi những giai điệu của thiên nhiên
							serenade bạn và làn gió sảng khoái mang lại sự yên tĩnh cho tâm hồn bạn.</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services services-1 color-1 d-block img"
                style="background-image: url(images/services-1.jpg);">
                <div class="icon d-flex align-items-center justify-content-center"><span
                    class="flaticon-paragliding"></span></div>
                <div class="media-body">
                  <h3 class="heading mb-3">Hoạt động</h3>
                  <p>Hoạt động vui chơi giải trí và nghĩ dưỡng.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services services-1 color-2 d-block img"
                style="background-image: url(images/services-2.jpg);">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-route"></span>
                </div>
                <div class="media-body">
                  <h3 class="heading mb-3">Tận hưởng</h3>
									<p>Tận hưởng những thiên đường bình dị.</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services services-1 color-3 d-block img"
                style="background-image: url(images/services-3.jpg);">
                <div class="icon d-flex align-items-center justify-content-center"><span
                    class="flaticon-tour-guide"></span></div>
                <div class="media-body">
                  <h3 class="heading mb-3">Hướng dẫn riêng</h3>
									<p> Những người hướng dẫn nhẹ nhàng, chu đáo.
									</p>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
              <div class="services services-1 color-4 d-block img"
                style="background-image: url(images/services-4.jpg);">
                <div class="icon d-flex align-items-center justify-content-center"><span class="flaticon-map"></span>
                </div>
                <div class="media-body">
                  <h3 class="heading mb-3">Địa điểm</h3>
									<p>Xa, xa, vượt núi non hùng vĩ và cách xa thành phố nhộn nhịp, là một khu du lịch sinh thái đầy mê hoặc ở Đà Nẵng.
									</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="ftco-section ftco-about img" style="background-image: url(images/bg_4.jpg);">
    <div class="overlay"></div>
    <div class="container py-md-5">
      <div class="row py-md-5">
        <div class="col-md d-flex align-items-center justify-content-center">
          <a href="https://vimeo.com/45830194"
            class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
            <span class="fa fa-play"></span>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section ftco-about ftco-no-pt img">
    <div class="container">
      <div class="row d-flex">
        <div class="col-md-12 about-intro">
          <div class="row">
            <div class="col-md-6 d-flex align-items-stretch">
              <div class="img d-flex w-100 align-items-center justify-content-center"
                style="background-image:url(images/about-1.jpg);">
              </div>
            </div>
            <div class="col-md-6 pl-md-5 py-5">
              <div class="row justify-content-start pb-3">
                <div class="col-md-12 heading-section ftco-animate">
                  <span class="subheading">Giới thiệu</span>
									<h2 class="mb-4">Làm cho chuyến tham quan của bạn trở nên đáng nhớ và an toàn</h2>
									<p>Thiên đường bình dị này là một thiên đường đích thực, nơi những giai điệu của thiên nhiên
										khiến bạn say mê .</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-section testimony-section bg-bottom" style="background-image: url(images/bg_1.jpg);">
    <div class="overlay"></div>
    <div class="container">
      <div class="row justify-content-center pb-4">
        <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
          <h2 class="mb-4">Đánh giá </h2>
        </div>
      </div>
      <div class="row ftco-animate">
        <div class="col-md-12">
          <div class="carousel-testimony owl-carousel">
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Khu du lịch Ngũ Hành Hill có cảnh quan thiên nhiên tuyệt đẹp, mang đến cảm giác thư thái và yên bình.
                     Một nơi lý tưởng để tận hưởng không khí trong lành và phong cảnh hùng vĩ.</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Võ Mỹ Duyên</p>
                      <span class="position">Software Engineer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Ngũ Hành Hill là sự kết hợp hoàn hảo giữa thiên nhiên và sự sáng tạo của con người. 
                    Cảnh sắc nơi đây khiến tôi cảm thấy như lạc vào một bức tranh thủy mặc tuyệt đẹp</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Ngô Thảo Linh</p>
                      <span class="position">Software Engineer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="testimony-wrap py-4">
                <div class="text">
                  <p class="star">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                  </p>
                  <p class="mb-4">Khu du lịch Ngũ Hành Hill có nhiều hoạt động giải trí hấp dẫn, phù hợp cho mọi lứa tuổi. 
                    Tôi đặc biệt thích thú với các trò chơi mạo hiểm và trải nghiệm khám phá thiên nhiên</p>
                  <div class="d-flex align-items-center">
                    <div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
                    <div class="pl-3">
                      <p class="name">Nguyễn Đức Việt</p>
                      <span class="position">Software Engineeer</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>        
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="ftco-intro ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<div class="img" style="background-image: url(images/bg_2.jpg);">
						<div class="overlay"></div>
						<h2>Chúng tôi là Ngũ Hành Hill</h2>
						<p>Chúng tôi sẽ mang đến cho bạn những trải nghiệm đáng quý nhất</p>
					</div>
				</div>
			</div>
		</div>
	</section>

  <!-- footer -->
  <footer th:insert="~{User/footer :: footer}"></footer>



  <!-- loader -->
  <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
        stroke="#F96D00" />
    </svg></div>


  <script src="js/jquery.min1.js"></script>
  <script src="js/jquery-migrate-3.0.1.min1.js"></script>
  <script src="js/popper.min1.js"></script>
  <script src="js/bootstrap.min1.js"></script>
  <script src="js/jquery.easing.1.31.js"></script>
  <script src="js/jquery.waypoints.min1.js"></script>
  <script src="js/jquery.stellar.min1.js"></script>
  <script src="js/owl.carousel.min1.js"></script>
  <script src="js/jquery.magnific-popup.min1.js"></script>
  <script src="js/jquery.animateNumber.min1.js"></script>
  <script src="js/bootstrap-datepicker1.js"></script>
  <script src="js/scrollax.min1.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map1.js"></script>
  <script src="js/main1.js"></script>

</body>

</html>