<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="shortcut icon" th:href="@{images/logoNHH.png}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" th:href="@{css/animate1.css}">

    <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">
    <link rel="stylesheet" th:href="@{css/flaticon1.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>

<body>
    <div class="fragment">
        <footer class="ftco-footer bg-bottom ftco-no-pt" style="background-image: url(images/bg_3.jpg);">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-md pt-5">
                        <div class="ftco-footer-widget pt-md-5 mb-4">
                            <h2 class="ftco-heading-2">Giới thiệu</h2>
                            <p>Ngũ Hành Hill là sự kết hợp hoàn hảo giữa thiên nhiên và sự sáng tạo của con người. 
                                Cảnh sắc nơi đây khiến tôi cảm thấy như lạc vào một bức tranh thủy mặc tuyệt đẹp..</p>
                            <ul class="ftco-footer-social list-unstyled float-md-left float-lft">
                                <li class="ftco-animate"><a href="#"><span class="fa fa-twitter"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="fa fa-facebook"></span></a></li>
                                <li class="ftco-animate"><a href="#"><span class="fa fa-instagram"></span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md pt-5 border-left">
                        <div class="ftco-footer-widget pt-md-5 mb-4 ml-md-5">
                            <h2 class="ftco-heading-2">Thông tin</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block"></a></li>
                                <li><a href="#" class="py-2 d-block">Năm thành lập : 2024</a></li>
                                <li><a href="#" class="py-2 d-block">Đặc điểm địa hình: Đồi núi </a></li>
                                <li><a href="#" class="py-2 d-block">Thời gian hoạt động:7AM - 20PM </a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md pt-5 border-left">
                        <div class="ftco-footer-widget pt-md-5 mb-4">
                            <h2 class="ftco-heading-2">Trải nghiệm</h2>
                            <ul class="list-unstyled">
                                <li><a href="#" class="py-2 d-block">Hoạt động giải trí</a></li>
                                <li><a href="#" class="py-2 d-block">Hoạt động thư giản</a></li>
                                <li><a href="#" class="py-2 d-block">Không gian nghỉ dưỡng</a></li>
                                <li><a href="#" class="py-2 d-block">Không gian văn hóa</a></li>
                                <li><a href="#" class="py-2 d-block">Không gian ẩm thực</a></li>
                                <li><a href="#" class="py-2 d-block">Phương tiện di chuyển</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md pt-5 border-left">
                        <div class="ftco-footer-widget pt-md-5 mb-4">
                            <h2 class="ftco-heading-2">Thông tin liên hệ</h2>
                            <div class="block-23 mb-3">
                                <ul>
                                    <li><span class="icon fa fa-map-marker"></span><span class="text">Ngũ Hành Hill, Đà Nẵng</span></li>
                                    <li><a href="#"><span class="icon fa fa-phone"></span><span class="text">+84 901162097</span></a></li>
                                    <li><a href="#"><span class="icon fa fa-paper-plane"></span><span
                                                class="text">Vietndde170616@fpt.edu.vn</span></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 text-center">

                        <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script>Được thực hiện<i class="fa fa-heart" aria-hidden="true"></i> bởi <a
                                href="https://colorlib.com" target="_blank">Team 1</a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    <script src="js/jquery.min1.js"></script>
	<script src="js/jquery-migrate-3.0.1.min1.js"></script>
	<script src="js/popper.min1.js"></script>
	<script src="js/bootstrap.min1.js"></script>
	<script src="js/jquery.easing.1.31.js"></script>
	<script src="js/jquery.waypoints.min1.js"></script>
	<script src="js/jquery.stellar.min1.js"></script>
	<script src="js/owl.carousel.min1.js"></script>
	<script src="js/jquery.magnific-popup.min1.js"></script>
	<script src="js/jquery.animateNumber.min1.js"></script>
	<script src="js/bootstrap-datepicker1.js"></script>
	<script src="js/scrollax.min1.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map1.js"></script>
	<script src="js/main1.js"></script>
</body>

</html>