<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{css/animate1.css}">

    <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">

    <link rel="stylesheet" th:href="@{css/flaticon1.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <!-- <style>
        #ftco-navbar .navbar-nav .nav-link:hover,
        #ftco-navbar .navbar-nav .nav-link:focus,
        #ftco-navbar .navbar-nav .nav-link:active {
            color: #f15d30 !important;
            /* Change this to the color you want */
        }

        #ftco-navbar .dropdown-menu .dropdown-item:hover,
        #ftco-navbar .dropdown-menu .dropdown-item:focus,
        #ftco-navbar .dropdown-menu .dropdown-item:active {
            color: #f15d30 !important;
            /* Change this to the color you want */
        }
    </style> -->
</head>

<body>
    <div th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
            <div class="container">
                <a class="navbar-brand" th:href="@{/}">NGU HANH<span>HILL</span></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                    aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="oi oi-menu"></span> Menu
                </button>
                <div class="collapse navbar-collapse" id="ftco-nav">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a th:href="@{/}" class="nav-link">Trang chủ</a></li>
                        <li class="nav-item"><a th:href="@{/user/about}" class="nav-link">Giới thiệu</a></li>
                        <li class="nav-item dropdown">
                            <a th:href="@{/service/getAll}" class="nav-link dropdown-toggle">Dịch vụ</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=1)}">Hoạt Động
                                        Giải Trí</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=2)}">Không
                                        Gian Nghỉ Dưỡng</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=3)}">Không
                                        Gian Ẩm Thực</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=4)}">Hoạt Động
                                        Thư Giản</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=5)}">Phương
                                        Tiện Di Chuyển</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/service/getAll(index=1, serviceTypeID=6)}">Không
                                        Gian Văn Hóa</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a th:href="@{/hotel}" class="nav-link">Khách sạn</a></li>
                        <li class="nav-item dropdown">
                            <a th:href="@{/user/blog}" class="nav-link dropdown-toggle">Blog</a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" th:href="@{/blog/showBlog(index=1,blogTypeID=1)}">Tin tức nổi bật</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" th:href="@{/blog/showBlog(index=1,blogTypeID=2)}">Sự kiện</a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item"><a th:href="@{/user/contact}" class="nav-link">Liên lạc</a></li>
                        <li class="nav-item"><a th:href="@{/user/login}" class="nav-link">Vé</a></li>
                        <li class="nav-item"><a th:href="@{/#}" class="nav-link"><i
                                    class="fa-solid fa-cart-shopping"></i></a></li>
                        <li th:if="${session.user == null}" class="nav-item"><a th:href="@{/user/showLogin}"
                                class="nav-link">Đăng nhập</a></li>
                        <li th:if="${session.user != null}" class="nav-item dropdown">
                            <a th:href="@{/user/showLogin}" class="nav-link dropdown-toggle">Hi,<span
                                    th:text="${session.user.username}"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fa-solid fa-gear"></i>
                                        Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" href="#">
                                        <i class="fas fa-user-edit"></i> Chỉnh sửa hồ sơ
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{/user/logout}">
                                        <i class="fas fa-sign-out-alt"></i> Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <script src="js/jquery.min1.js"></script>
    <script src="js/jquery-migrate-3.0.1.min1.js"></script>
    <script src="js/popper.min1.js"></script>
    <script src="js/bootstrap.min1.js"></script>
    <script src="js/jquery.easing.1.31.js"></script>
    <script src="js/jquery.waypoints.min1.js"></script>
    <script src="js/jquery.stellar.min1.js"></script>
    <script src="js/owl.carousel.min1.js"></script>
    <script src="js/jquery.magnific-popup.min1.js"></script>
    <script src="js/jquery.animateNumber.min1.js"></script>
    <script src="js/bootstrap-datepicker1.js"></script>
    <script src="js/scrollax.min1.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map1.js"></script>
    <script src="js/main1.js"></script>
</body>

</html>