<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" th:href="@{css/animate1.css}">

    <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">

    <link rel="stylesheet" th:href="@{css/flaticon1.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <link rel="stylesheet" th:href="@{css/header.css}">
    <link rel="stylesheet" th:href="@{css/History.css}">
</head>

<body>

    <header th:insert="~{User/header2 :: header}"></header>

    <section class="timeline_area section_padding_130">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-8 col-lg-6">
                    <!-- Section Heading-->
                    <div class="section_heading text-center">
                        <h2 style="color:black">Lịch Sử Giao Dịch</h2>
                        <div class="line"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <!-- Timeline Area-->
                    <div class="apland-timeline-area">
                        <!-- Single Timeline Content-->
                        <th:block th:each="history: ${history}">
                            <div class="single-timeline-area">
                                <div class="timeline-date wow fadeInLeft" data-wow-delay="0.1s"
                                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInLeft;">
                                    <p th:text="${history.value}" style="color: black;"></p>
                                </div>
                                <div class="row mt-4">
                                    <div class="card" style="box-shadow: 0 4px 8px rgba(0,0,0,0.2);">
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <table class="table table-hover table-light">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">Ảnh</th>
                                                            <th scope="col">Tên</th>
                                                            <th scope="col">Giá vé</th>
                                                            <th scope="col">Số lượng</th>
                                                            <th scope="col">Tổng tiền</th>
                                                            <th scope="col">Trạng thái</th>
                                                            <th></th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <th:block th:each="billDetail : ${history.key}">
                                                            <tr>
                                                                <td>
                                                                    <img th:src="@{/images/{imageUrl}(imageUrl=${billDetail.ticketID.image})}"
                                                                        alt="" width="100px">
                                                                </td>
                                                                <td>[[${billDetail.ticketID.title}]]</td>
                                                                <td> [[${billDetail.ticketID.price}]]</td>
                                                                <td> [[${billDetail.quantity}]]</td>
                                                                <td> [[${billDetail.total}]]</td>
                                                                <td th:if="${billDetail.status == 0}">
                                                                    
                                                                    Chưa sử
                                                                    dụng</td>
                                                                <td th:if="${billDetail.status == 1}" class="status">Đã
                                                                    sử
                                                                    dụng</td>
                                                                <td th:if="${billDetail.status == 2}" class="status">Đã
                                                                    đánh
                                                                    giá</td>

                                                                <td th:if="${billDetail.status == 1}">
                                                                    <button
                                                                        class="btn btn-primary btn-sm rounded-pill px-2 py-1 position-relative"
                                                                        data-toggle="modal"
                                                                        th:data-target="|#RatingModal-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|">
                                                                        <i class="fas fa-star me-1"></i>Đánh giá
                                                                    </button>
                                                                </td>
                                                            </tr>
                                                        </th:block>
                                                    </tbody>
                                                </table>
                                            </div>
                                            <p>Tổng hóa đơn: <span class="total-bill">0</span> VND</p>
                                            <script>
                                                document.addEventListener("DOMContentLoaded", function () {
                                                    document.querySelectorAll('.single-timeline-area').forEach(function (area) {
                                                        let totalBill = 0;
                                                        area.querySelectorAll("td:nth-child(5)").forEach(function (td) {
                                                            totalBill += parseFloat(td.innerText);
                                                        });
                                                        area.querySelector(".total-bill").innerText = totalBill.toFixed(2);
                                                    });
                                                });
                                            </script>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div th:each="history: ${history}">
        <div class="modal fade" th:id="|RatingModal-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
            tabindex="-1" role="dialog" aria-hidden="true" th:each="billDetail : ${history.key}">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content rounded-0">
                    <div class="modal-body py-0">
                        <div class="d-flex main-content">
                            <div class="bg-image promo-img mr-3"
                                th:style="'background-image: url(images/' + ${billDetail.ticketID.image} + ');'">
                            </div>
                            <div class="content-text p-4 px-5 align-item-stretch" style="width: 100%;">
                                <div class="text-center">
                                    <h3 class="mb-3 line" th:text="${billDetail.ticketID.title}"></h3>

                                    <h5 class="price mb-3" th:text="${billDetail.ticketID.price}+' VND/1'"
                                        style="color: #faec1b;"></h5>

                                    <p class="mb-3" th:text="${billDetail.ticketID.description}"></p>

                                    <p class="mb-3">
                                        <span class="star-rating">
                                            <label
                                                th:for="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-1|"
                                                style="--i:1"><i class="fa-solid fa-star"></i></label>
                                            <input type="radio"
                                                th:name="|rating-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
                                                th:id="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-1|"
                                                value="1" checked>

                                            <label
                                                th:for="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-2|"
                                                style="--i:2"><i class="fa-solid fa-star"></i></label>
                                            <input type="radio"
                                                th:name="|rating-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
                                                th:id="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-2|"
                                                value="2">

                                            <label
                                                th:for="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-3|"
                                                style="--i:3"><i class="fa-solid fa-star"></i></label>
                                            <input type="radio"
                                                th:name="|rating-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
                                                th:id="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-3|"
                                                value="3">

                                            <label
                                                th:for="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-4|"
                                                style="--i:4"><i class="fa-solid fa-star"></i></label>
                                            <input type="radio"
                                                th:name="|rating-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
                                                th:id="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-4|"
                                                value="4">

                                            <label
                                                th:for="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-5|"
                                                style="--i:5"><i class="fa-solid fa-star"></i></label>
                                            <input type="radio"
                                                th:name="|rating-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}|"
                                                th:id="|rate-${billDetail.billID.billID}-${billDetail.ticketID.ticketID}-5|"
                                                value="5">
                                        </span>
                                    </p>

                                    <div class="d-flex text-center social w-50 mx-auto">
                                        <button class="btn btn-success" style="background-color: #f15d30 ;"
                                            th:onclick="|ratingTicket(${billDetail.billID.billID},${billDetail.ticketID.ticketID},${billDetail.billDetailsID})|">
                                            Gửi đánh giá
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="popchat">
        <i class="fa-solid fa-square-check"></i>
        Cảm ơn vì đã sử dụng dịch vụ của chúng tôi
    </div>

    <script src="js/jquery.min1.js"></script>
    <script src="js/jquery-migrate-3.0.1.min1.js"></script>
    <script src="js/popper.min1.js"></script>
    <script src="js/bootstrap.min1.js"></script>
    <script src="js/jquery.easing.1.31.js"></script>
    <script src="js/jquery.waypoints.min1.js"></script>
    <script src="js/jquery.stellar.min1.js"></script>
    <script src="js/owl.carousel.min1.js"></script>
    <script src="js/jquery.magnific-popup.min1.js"></script>
    <script src="js/jquery.animateNumber.min1.js"></script>
    <script src="js/bootstrap-datepicker1.js"></script>
    <script src="js/scrollax.min1.js"></script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="js/google-map1.js"></script>
    <script src="js/main1.js"></script>
    <script>
        //Đánh giá sản phẩm
        function ratingTicket(idBill, idTicket, idBillDetail) {
            const pop = document.querySelector("#popchat");
            // Get the selected rating score
            const score = document.querySelector('input[name="rating-' + idBill + '-' + idTicket + '"]:checked').value;

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/ticket/rating?idTicket=" + idTicket + "&score=" + score + "&idBillDetail=" + idBillDetail, true);
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    // Phản hồi thành công
                    console.log(xhr.responseText);

                    pop.classList.add("active");
                    setTimeout(() => {
                        pop.classList.remove("active");
                    }, 2000);

                    // Close the modal
                    const modal = document.querySelector("#RatingModal-" + idBill + "-" + idTicket);
                    if (modal) {
                        $(modal).modal('hide');
                    }

                    // Update the status
                    const statusCell = document.querySelector('button[data-target="#RatingModal-' + idBill + '-' + idTicket + '"]').closest('tr').querySelector('.status');
                    if (statusCell) {
                        statusCell.innerText = 'Đã đánh giá';
                    }

                    // Hide the rating button
                    const ratingButton = document.querySelector('button[data-target="#RatingModal-' + idBill + '-' + idTicket + '"]');
                    if (ratingButton) {
                        ratingButton.style.display = 'none';
                    }
                }
            };
            xhr.send();
        }

    </script>
</body>

</html>