<!DOCTYPE html>
<html lang="en">

<head>
	<title>Ngu Hanh Hill</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">


	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/fancybox.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datepicker.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/jquery.timepicker.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/owl.carousel.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../fonts/ionicons/css/ionicons.min.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../fonts/fontawesome/css/font-awesome.min.css}">

	<link rel="stylesheet" type="text/css" th:href="@{../css/animate.css}">
	<link rel="stylesheet" type="text/css" th:href="@{../css/aos.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<link rel="stylesheet" th:href="@{css/animate1.css}">

	<link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
	<link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
	<link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

	<link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
	<link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">
	<link rel="stylesheet" th:href="@{css/flaticon1.css}">
	<link rel="stylesheet" th:href="@{css/style.css}">
	<link rel="stylesheet" th:href="@{css/header.css}">
	<!-- CSS của suggestion khi oninput search bar -->


</head>
<style>
	#suggestionContainer1 {
		position: relative;
		/* Đổi thành relative để suggestion box nằm trong không gian của phần tử này */
	}

	#suggestionContainer2 {
		position: relative;
		/* Đổi thành relative để suggestion box nằm trong không gian của phần tử này */
	}

	#suggestionBoxForService {
		position: absolute;
		z-index: 10;
		/* Đặt z-index cao hơn để hiển thị phía trên */
		background-color: white;
		width: 100%;
		/* Độ rộng bằng 100% của phần tử cha */
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 0 0 5px 5px;
		max-height: 200px;
		overflow-y: auto;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		margin-top: 5px;
		/* Khoảng cách từ suggestion box đến input */

		/* Các thuộc tính khác */
	}

	#suggestionBoxForService button {
		width: 100%;
		text-align: left;
		padding: 10px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: background-color 0.3s;
	}

	#suggestionBoxForService button:hover {
		background-color: #f0f0f0;
	}

	#suggestionBoxForService button.active {
		background-color: #e0e0e0;
	}

	#suggestionBoxForService button:focus {
		outline: none;
	}

	#suggestionBoxForService img {
		width: 80px;
		height: 50px;
		margin-right: 10px;
	}

	#suggestionBoxForService span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	#suggestionBoxForRoomType {
		position: absolute;
		z-index: 10;
		/* Đặt z-index cao hơn để hiển thị phía trên */
		background-color: white;
		width: 100%;
		/* Độ rộng bằng 100% của phần tử cha */
		border: 1px solid #ccc;
		border-top: none;
		border-radius: 0 0 5px 5px;
		max-height: 200px;
		overflow-y: auto;
		box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
		margin-top: 5px;
		/* Khoảng cách từ suggestion box đến input */

		/* Các thuộc tính khác */
	}

	#suggestionBoxForRoomType button {
		width: 100%;
		text-align: left;
		padding: 10px;
		border: none;
		background-color: transparent;
		cursor: pointer;
		display: flex;
		align-items: center;
		transition: background-color 0.3s;
	}

	#suggestionBoxForRoomType button:hover {
		background-color: #f0f0f0;
	}

	#suggestionBoxForRoomType button.active {
		background-color: #e0e0e0;
	}

	#suggestionBoxForRoomType button:focus {
		outline: none;
	}

	#suggestionBoxForRoomType img {
		width: 80px;
		height: 50px;
		margin-right: 10px;
	}

	#suggestionBoxForRoomType span {
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.truncate {
		display: block;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		max-width: 100%;
		/* Điều chỉnh theo nhu cầu của bạn */
	}

	.custom-modal {
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		max-height: 90vh;
		/* Để modal không chiếm toàn bộ chiều cao màn hình */
		overflow-y: auto;
		/* Để modal có thể cuộn nếu nội dung quá dài */
		z-index: 1050;
		/* Để đảm bảo modal xuất hiện trên các thành phần khác */
	}

	.modal-dialog {
		margin: 0;
		max-width: 100%;
	}

	.modal-content {
		border-radius: 0;
	}

	@media (min-width: 768px) {
		.custom-modal {
			width: 50%;
		}
	}

	.custom-modal:not(:first-child) {
		margin-bottom: 10px;
		/* Khoảng cách giữa các modal */
	}

	.modal-body img {
		height: 30rem;
		/* Increase the image height */
		width: 40rem;
		/* Increase the image width */
		object-fit: cover;
		margin-right: 1rem;
	}
</style>

<body>

	<!-- header -->
	<header th:insert="~{User/header2 :: header}"></header>
	<!-- END nav -->

	<div class="hero-wrap js-fullheight" style="background-image: url('images/bg_5.jpg');">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
				<div class="col-md-7 ftco-animate">
					<span class="subheading">Welcome to Ngu Hanh Hill</span>
					<h1 class="mb-4">Discover Your Favorite Place with Us</h1>
					<p class="caps">Travel to the any corner of the world, without going around in circles</p>
				</div>
				<a href="https://vimeo.com/45830194"
					class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
					<span class="fa fa-play"></span>
				</a>
			</div>
		</div>
	</div>

	<section class="ftco-section ftco-no-pb ftco-no-pt">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="ftco-search d-flex justify-content-center">
						<div class="row">
							<div class="col-md-12 nav-link-wrap">
								<div class="nav nav-pills text-center" id="v-pills-tab" role="tablist"
									aria-orientation="vertical">
									<a class="nav-link active mr-md-1" id="v-pills-1-tab" data-toggle="pill"
										href="#v-pills-1" role="tab" aria-controls="v-pills-1" aria-selected="true">Tìm
										kiếm</a>

									<a class="nav-link" id="v-pills-2-tab" data-toggle="pill" href="#v-pills-2"
										role="tab" aria-controls="v-pills-2" aria-selected="false">Khách sạn</a>

								</div>
							</div>
							<div class="col-md-12 tab-wrap">

								<div class="tab-content" id="v-pills-tabContent">

									<div class="tab-pane fade show active" id="v-pills-1" role="tabpanel"
										aria-labelledby="v-pills-nextgen-tab">
										<div class="row no-gutters search-property-1">
											<div class="col-lg-9 d-flex position-relative">
												<div class="form-group p-4 border-0" id="suggestionContainer1">
													<label for="#">Dịch vụ</label>
													<div class="form-field">
														<div class="icon"><span class="fa fa-search"></span></div>
														<input type="search" class="form-control" id="keywordService"
															placeholder="Search service" oninput="handleInputService()"
															onkeyup="handleSearchService(event)">
														<div id="suggestionBoxForService" style="border: none;"></div>
													</div>

												</div>

											</div>

											<div class="col-lg-3 d-flex">
												<div class="form-group d-flex w-100 border-0">
													<div class="form-field w-100 align-items-center d-flex">
														<input type="button" value="Search" onclick="searchService()"
															class="align-self-stretch form-control btn btn-primary p-0">
													</div>
												</div>
											</div>
										</div>
									</div>

									<div class="tab-pane fade" id="v-pills-2" role="tabpanel"
										aria-labelledby="v-pills-performance-tab">
										<div class="row no-gutters search-property-1">
											<div class="col-lg-9 d-flex position-relative">
												<div class="form-group p-4 border-0" id="suggestionContainer2">
													<label for="#">Loại phòng</label>
													<!-- Thêm các sự kiện vào ô input khi search room type -->
													<div class="form-field">
														<div class="icon"><span class="fa fa-search"></span></div>
														<input type="search" class="form-control" id="keywordRoomType"
															placeholder="Search type of room"
															oninput="handleInputRoomType()"
															onkeyup="handleSearchRoomType(event)">
														<div id="suggestionBoxForRoomType" style="border: none;"></div>
													</div>

												</div>

											</div>

											<div class="col-lg-3 d-flex">
												<div class="form-group d-flex w-100 border-0">
													<div class="form-field w-100 align-items-center d-flex">
														<input type="button" value="Search" onclick="SearchRoomType()"
															class="align-self-stretch form-control btn btn-primary p-0">
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>

	<section class="ftco-section services-section">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-6 order-md-last heading-section pl-md-5 ftco-animate d-flex align-items-center">
					<div class="w-100">
						<span class="subheading">Chào mừng đến với Ngũ Hành Hill</span>
						<h2 class="mb-4">Hãy bắt đầu chuyến đi</h2>
						<p>Ẩn mình giữa lòng Đà Nẵng, dòng sông Ngũ Hành thanh bình uốn khúc duyên dáng
							nơi nghỉ dưỡng du lịch sinh thái đầy mê hoặc của chúng tôi, ban tặng cho nó tất cả những kho
							báu thiên nhiên thiết yếu.
							Thiên đường bình dị này là một thiên đường đích thực, nơi những giai điệu của thiên nhiên
							khiến bạn say mê và
							làn gió sảng khoái mang lại bản chất của sự tĩnh lặng ngay trong tâm hồn bạn. Ở đây, giữa
							khung cảnh tươi tốt
							phong cảnh và vùng nước nguyên sơ, mỗi khoảnh khắc đều giống như một cuộc hành trình kỳ
							diệu, mời gọi bạn đến
							trải nghiệm sự hài hòa của thiên nhiên ở dạng tinh khiết nhất của nó. Hãy đến và đắm mình
							trong này
							lối thoát thiên đường, nơi vẻ đẹp của thế giới tự nhiên dễ dàng quyến rũ bạn
							giác quan.</p>
						<p>Xa, xa, vượt núi non hùng vĩ và cách xa thành phố nhộn nhịp, là một khu du lịch sinh thái đầy
							mê hoặc ở Đà Nẵng. Ẩn mình trong một nơi tôn nghiêm thanh bình, viên ngọc ẩn này được tô
							điểm bởi dòng chảy nhẹ nhàng của
							Sông Cầu Đá, nơi mang lại tất cả những tài nguyên thiên nhiên thiết yếu để duy trì
							vẻ đẹp của nó. Thiên đường bình dị này là thiên đường nơi những giai điệu của thiên nhiên
							serenade bạn và làn gió sảng khoái mang lại sự yên tĩnh cho tâm hồn bạn.
							Ở đây, giữa cảnh quan tươi tốt và làn nước hoang sơ, mọi khoảnh khắc đều cảm thấy
							như một cuộc hành trình kỳ diệu, mời gọi bạn trải nghiệm sự hòa hợp của thiên nhiên
							ở dạng tinh khiết nhất của nó. Hãy đến và đắm mình trong chuyến trốn thoát thiên đường này,
							nơi những kỳ quan của thế giới tự nhiên dễ dàng thu hút các giác quan của bạn.</p>
						<p><a href="#" class="btn btn-primary py-3 px-4">Search Destination</a></p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="row">
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-1 d-block img"
								style="background-image: url(images/services-1.jpg);">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-paragliding"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Hoạt động</h3>
									<p>Một con sông nhỏ tên là Cầu Đá chảy qua chỗ họ và cung cấp những thứ cần thiết
										cho họ.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-2 d-block img"
								style="background-image: url(images/services-2.jpg);">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-route"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Sắp xếp chuyến đi</h3>
									<p>Một con sông nhỏ tên là Cầu Đá chảy qua chỗ họ và cung cấp những thứ cần thiết
										cho họ.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-3 d-block img"
								style="background-image: url(images/services-3.jpg);">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-tour-guide"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Hướng dẫn riêng</h3>
									<p>Một con sông nhỏ tên là Cầu Đá chảy qua chỗ họ và cung cấp những thứ cần thiết
										cho họ.
									</p>
								</div>
							</div>
						</div>
						<div class="col-md-12 col-lg-6 d-flex align-self-stretch ftco-animate">
							<div class="services services-1 color-4 d-block img"
								style="background-image: url(images/services-4.jpg);">
								<div class="icon d-flex align-items-center justify-content-center"><span
										class="flaticon-map"></span></div>
								<div class="media-body">
									<h3 class="heading mb-3">Địa điểm</h3>
									<p>Một con sông nhỏ tên là Cầu Đá chảy qua chỗ họ và cung cấp những thứ cần thiết
										cho họ.
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Dịch vụ</span>
					<h2 class="mb-4">Chọn dịch vụ</h2>
				</div>
			</div>
			<div class="row">
				<!-- Sử dụng vòng lặp Thymeleaf để duyệt qua danh sách service -->
				<div class="col-xs-12 col-sm-6 col-md-4 ftco-animate" th:each="service : ${sList}">
					<div class="project-wrap">
						<a class="img" th:style="'background-image: url(images/' + ${service.image} + ');'">
							<span class="price">Đề xuất</span>
						</a>
						<div class="text p-4">
							<h3>
								<button data-bs-toggle="modal" th:data-bs-target="'#modal' + ${service.serviceID}"
									th:text="${service.serviceName}"
									style="border: none; background-color: white;"></button>
							</h3>
							<p class="location"><span class="fa fa-map-marker"></span> Ngu Hanh Hill</p>
							<ul>
								<li><span class="flaticon-shower"></span>2</li>
								<li><span class="flaticon-king-size"></span>3</li>
							</ul>
						</div>
					</div>
				</div>
				<a th:href="@{/service/getAll}" style="text-decoration: none; color: green;">Xem Tất Cả >></a>
				<!-- Kết thúc vòng lặp Thymeleaf -->
			</div>
		</div>
	</section>
	<div th:each="service : ${sList}">
		<div th:id="'modal' + ${service.serviceID}" class="modal fade custom-modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<div class="modal-content">
					<div class="modal-header">
						<h3 th:text="${service.serviceTypeID.serviceName}"></h3>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3">
							<h3 style="color: black; cursor: pointer;" onmouseover="this.style.color='orange'"
								onmouseout="this.style.color='black'" th:text="${service.serviceName}"></h3>
						</div>
						<div class="mb-3 text-center">
							<img th:src="@{/images/{image}(image=${service.image})}" alt="Service Image"
								class="img-fluid">
						</div>
						<div>
							<p><strong>Description:</strong></p>
							<p th:text="${service.description}"></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>




	<section class="ftco-section ftco-about img" style="background-image: url(images/bg_4.jpg);">
		<div class="overlay"></div>
		<div class="container py-md-5">
			<div class="row py-md-5">
				<div class="col-md d-flex align-items-center justify-content-center">
					<a href="https://vimeo.com/45830194"
						class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
						<span class="fa fa-play"></span>
					</a>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section ftco-about ftco-no-pt img">
		<div class="container">
			<div class="row d-flex">
				<div class="col-md-12 about-intro">
					<div class="row">
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="img d-flex w-100 align-items-center justify-content-center"
								style="background-image:url(images/about-1.jpg);">
							</div>
						</div>
						<div class="col-md-6 pl-md-5 py-5">
							<div class="row justify-content-start pb-3">
								<div class="col-md-12 heading-section ftco-animate">
									<span class="subheading">About Us</span>
									<h2 class="mb-4">Make Your Tour Memorable and Safe With Us</h2>
									<p>Far far away, behind the word mountains, far from the countries Vokalia and
										Consonantia, there live the blind texts. Separated they live in Bookmarksgrove
										right at the coast of the Semantics, a large language ocean.</p>
									<p><a href="#" class="btn btn-primary">Book Your Destination</a></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="ftco-section testimony-section bg-bottom" style="background-image: url(images/bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
					<span class="subheading">Testimonial</span>
					<h2 class="mb-4">Tourist Feedback</h2>
				</div>
			</div>
			<div class="row ftco-animate">
				<div class="col-md-12">
					<div class="carousel-testimony owl-carousel">
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_3.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_1.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="item">
							<div class="testimony-wrap py-4">
								<div class="text">
									<p class="star">
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
										<span class="fa fa-star"></span>
									</p>
									<p class="mb-4">Far far away, behind the word mountains, far from the countries
										Vokalia and Consonantia, there live the blind texts.</p>
									<div class="d-flex align-items-center">
										<div class="user-img" style="background-image: url(images/person_2.jpg)"></div>
										<div class="pl-3">
											<p class="name">Roger Scott</p>
											<span class="position">Marketing Manager</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center pb-4">
				<div class="col-md-12 heading-section text-center ftco-animate">
					<span class="subheading">Bài Viết</span>
					<h2 class="mb-4">Bài viết mới nhất</h2>
				</div>
			</div>
			<!-- Blog-->
			<div class="row">
				<!-- Sử dụng vòng lặp Thymeleaf để duyệt qua danh sách blog -->
				<div class="col-md-4 ftco-animate" th:each="blog : ${blogList}">
					<div class="blog-entry">
						<a th:href="@{/blog/showBlogDetail/{id}(id=${blog.blog.blogID})}" class="block-20"
							th:style="'background-image: url(images/' + ${blog.imageUrl} + ');'">
						</a>
						<div class="text">
							<div class="d-flex align-items-center mb-4 topp">
								<div class="two">
									<span class="yr">News</span>
								</div>
							</div>
							<h3 class="heading">
								<a th:href="@{/blog/showBlogDetail/{id}(id=${blog.blog.blogID})}"
									th:text="${blog.blog.title}"></a>
							</h3>
							<p>
								<a th:href="@{/blog/showBlogDetail/{id}(id=${blog.blog.blogID})}"
									class="btn btn-primary">Đọc Thêm</a>
							</p>
						</div>
					</div>
				</div>
				<!-- Kết thúc vòng lặp Thymeleaf -->
			</div>
			<!-- Kết thúc Blog-->
		</div>
	</section>


	<section class="ftco-intro ftco-section ftco-no-pt">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12 text-center">
					<div class="img" style="background-image: url(images/bg_2.jpg);">
						<div class="overlay"></div>
						<h2>We Are Pacific A Travel Agency</h2>
						<p>We can manage your dream building A small river named Duden flows by their place</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div th:each="roomType : ${roomTypeList}">
		<div th:id="'modalRoomType' + ${roomType.roomTypeID}" class="modal fade custom-modal" data-bs-backdrop="static"
			data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
				<!-- Increase modal size -->
				<div class="modal-content">
					<div class="modal-header">
						<h4 onmouseover="this.style.color='orange'" onmouseout="this.style.color='black'"
							th:text="${roomType.roomTypeName}"></h4>
						<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
					</div>
					<div class="modal-body">
						<div class="mb-3 text-center">
							<img th:src="@{/images/{image}(image=${roomType.images})}" class="img-fluid mb-3"
								alt="Room Image">
						</div>
						<div>
							<p><strong>Price:</strong> <span th:text="${roomType.price} + ' VND'"></span></p>
							<p><strong>Description:</strong> <span th:text="${roomType.details}"></span></p>
							<div class="mt-4">
								<form th:action="@{/hotel/getRoom}" th:method="get" class="d-inline-block">
									<input type="hidden" name="roomType" th:value="${roomType.roomTypeID}">
									<input type="hidden" name="hiddenStartDate" th:value="${startDate}">
									<input type="hidden" name="hiddenEndDate" th:value="${endDate}">
									<button type="submit" class="btn btn-primary">Book Room</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- footer -->
	<footer th:insert="~{User/footer :: footer}"></footer>


	<!-- loader -->
	<div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
			<circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
			<circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
				stroke="#F96D00" />
		</svg></div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/jquery-migrate-3.0.1.min.js"></script>
	<script src="js/popper.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/jquery.stellar.min.js"></script>
	<script src="js/jquery.fancybox.min.js"></script>
	<script src="js/bootstrap-datepicker.js"></script>
	<script src="js/jquery.timepicker.min.js"></script>
	<script src="js/aos.js"></script>
	<script src="js/main.js"></script>
	<script>
		const modals = document.querySelectorAll('.modal');
		modals.forEach(modal => {
			modal.addEventListener('show.bs.modal', () => {
				document.getElementById('content').classList.add('blur-effect');
			});
			modal.addEventListener('hidden.bs.modal', () => {
				document.getElementById('content').classList.remove('blur-effect');
			});
		});
	</script>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
	<script src="js/jquery.min1.js"></script>
	<script src="js/jquery-migrate-3.0.1.min1.js"></script>
	<script src="js/popper.min1.js"></script>
	<script src="js/bootstrap.min1.js"></script>
	<script src="js/jquery.easing.1.31.js"></script>
	<script src="js/jquery.waypoints.min1.js"></script>
	<script src="js/jquery.stellar.min1.js"></script>
	<script src="js/owl.carousel.min1.js"></script>
	<script src="js/jquery.magnific-popup.min1.js"></script>
	<script src="js/jquery.animateNumber.min1.js"></script>
	<script src="js/bootstrap-datepicker1.js"></script>
	<script src="js/scrollax.min1.js"></script>
	<script src="js/searchRoomType.js"></script>
	<script src="js/searchService.js"></script>
	<script
		src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
	<script src="js/google-map1.js"></script>
	<script src="js/main1.js"></script>

</body>

</html>