<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
  <link rel="stylesheet" th:href="@{css/animate1.css}">

  <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
  <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
  <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

  <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
  <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">

  <link rel="stylesheet" th:href="@{css/flaticon1.css}">
  <link rel="stylesheet" th:href="@{css/style.css}">
  <link rel="stylesheet" th:href="@{css/header.css}">
  <link rel="stylesheet" type="text/css" th:href="@{css/header.css}">
  <style>
    .location {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 300px;
    }
  </style>

  <title>Service</title>
</head>

<body>
  <header th:insert="~{User/header2 :: header}"></header>

  <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_5.jpg');">
    <div class="overlay"></div>
    <div class="container">
      <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
        <div class="col-md-7 ftco-animate">
          <span class="subheading">Chào mừng đến với Ngũ Hành Hill</span>
          <h1 class="mb-4">Khám phá địa điểm yêu thích của bạn với chúng tôi</h1>
          <p class="caps">Hòa mình vào thiên nhiên, trải nghiệm cuộc sống yên bình.</p>
        </div>
        <a href="https://vimeo.com/45830194"
          class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
          <span class="fa fa-play"></span>
        </a>
      </div>
    </div>
  </div>
  <section class="ftco-section">
    <div class="container">
      <div class="row">
        <th:block th:each="service : ${serviceList}">
          <div class="col-md-4 ftco-animate">
            <div class="project-wrap">
              <a href="#" class="img" th:style="'background-image: url(images/' + ${service.image} + ');'">
              </a>
              <div class="text p-4">
                <h3><a href="#" th:text="${service.serviceTypeID.serviceName}"></a></h3>
                <p class="location"><span class="fa fa-map-marker"></span> [[${service.description}]]</p>
                <ul>
                  <li><span class="flaticon-mountains"></span>
                    <button data-bs-toggle="modal" th:data-bs-target="'#modal' + ${service.serviceID}"
                      th:text="${service.serviceName}" style="border: none; background-color: white;">Xem chi tiết</button>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </th:block>
      </div>
      <div class="row mt-5">
        <div class="col text-center">
          <div class="block-27">
            <ul>
              <li><a href="#">&lt;</a></li>
              <th:block th:each="i:${#numbers.sequence(1, endPage)}">
                <th:block th:if="${currentPage == i}">
                  <li class="active">
                    <th:block th:if="${serviceList != null}">
                      <a
                        th:href="@{/service/getAll(index=${i}, serviceTypeID=${serviceList.get(0).serviceTypeID.serviceTypeID})}">[[${i}]]</a>
                    </th:block>
                  </li>
                </th:block>
                <th:block th:unless="${currentPage == i}">
                  <li class="">
                    <th:block th:if="${serviceList != null}">
                      <a
                        th:href="@{/service/getAll(index=${i}, serviceTypeID=${serviceList.get(0).serviceTypeID.serviceTypeID})}">[[${i}]]</a>
                    </th:block>
                  </li>
                </th:block>
              </th:block>
              <li><a href="#">&gt;</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer th:insert="~{User/footer :: footer}"></footer>

  <script src="js/jquery.min1.js"></script>
  <script src="js/jquery-migrate-3.0.1.min1.js"></script>
  <script src="js/popper.min1.js"></script>
  <script src="js/bootstrap.min1.js"></script>
  <script src="js/jquery.easing.1.31.js"></script>
  <script src="js/jquery.waypoints.min1.js"></script>
  <script src="js/jquery.stellar.min1.js"></script>
  <script src="js/owl.carousel.min1.js"></script>
  <script src="js/jquery.magnific-popup.min1.js"></script>
  <script src="js/jquery.animateNumber.min1.js"></script>
  <script src="js/bootstrap-datepicker1.js"></script>
  <script src="js/scrollax.min1.js"></script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
  <script src="js/google-map1.js"></script>
  <script src="js/main1.js"></script>
</body>


</html>