<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Arizonia&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <link rel="stylesheet" th:href="@{css/animate1.css}">

    <link rel="stylesheet" th:href="@{css/owl.carousel.min1.css}">
    <link rel="stylesheet" th:href="@{css/owl.theme.default.min1.css}">
    <link rel="stylesheet" th:href="@{css/magnific-popup1.css}">

    <link rel="stylesheet" th:href="@{css/bootstrap-datepicker1.css}">
    <link rel="stylesheet" th:href="@{css/jquery.timepicker1.css}">
    <link rel="stylesheet" th:href="@{css/flaticon1.css}">
    <link rel="stylesheet" th:href="@{css/style.css}">
    <title>Service</title>
</head>

<body>
    <header th:insert="~{User/header2 :: header}"></header>
    <div class="hero-wrap js-fullheight" style="background-image: url('images/bg_5.jpg');">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate">
                    <span class="subheading">Welcome to Ngu Hanh Hill</span>
                    <h1 class="mb-4">Discover Your Favorite Place with Us</h1>
                    <p class="caps">Travel to the any corner of the world, without going around in circles</p>
                </div>
                <a href="https://vimeo.com/45830194"
                    class="icon-video popup-vimeo d-flex align-items-center justify-content-center mb-4">
                    <span class="fa fa-play"></span>
                </a>
            </div>
        </div>
    </div>
    <div>
        <h3 th:text="${service.serviceTypeID.serviceName}"></h3>
        <h5 th:text="${service.serviceName}"></h5>
        <img th:src="images/ '+ ${service.image}+'" alt="">
        <p th:text="service.description"></p>

    </div>
</body>

</html>