<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Enter Code</title>
    <link rel="shortcut icon" th:href="@{images/logoNHH.png}" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" th:href="@{/css/re2.css}">
    <script th:inline="javascript">
        var code = /*[[${code}]]*/ {};
        var codeNumber = parseInt(code);
        function checkCode() {
            var text = document.getElementById("code").value;
            console.log(text);
            if (codeNumber === parseInt(text)) {
                window.location.href = "/user/toAdd";
            } else {
                alert("Code sai");
                document.getElementById("code").value = "";
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div class="forgot-password-form">
            <h2>Enter Code</h2>
            <div class="input-group">
                <input name="code" id="code" placeholder="Enter email code" type="text">
            </div>
            <button class="submit-btn" onclick="checkCode()">Submit</button>
        </div>
    </div>
</body>

</html>