<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" th:href="@{css/feather.css}">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{css/vendor.bundle.base.css}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" th:href="@{css/dataTables.bootstrap4.css}">
    <link rel="stylesheet" th:href="@{css/themify-icons.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/select.dataTables.min.css}">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" th:href="@{css/style2.css}">
    <!-- endinject -->
    <link rel="shortcut icon" th:href="@{images/favicon.png}" />
</head>

<body>
    <div th:fragment="partial">
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/} " aria-expanded="false">
                        <i class="ti-check menu-icon"></i>
                        <span class="menu-title">Soát vé</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllCustomer}" aria-expanded="false">
                        <i class="ti-user menu-icon"></i>
                        <span class="menu-title">Quản lý khách hàng</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllBlog}" aria-expanded="false">
                        <i class="ti-write menu-icon"></i>
                        <span class="menu-title">Quản lý bài viết</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllTicket}" aria-expanded="false">
                        <i class="ti-ticket menu-icon"></i>
                        <span class="menu-title">Quản lý vé</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllService}" aria-expanded="false">
                        <i class="ti-server menu-icon"></i>
                        <span class="menu-title">Quản lý dịch vụ</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" href="#error" aria-expanded="false"
                        aria-controls="error">
                        <i class="ti-home menu-icon"></i>
                        <span class="menu-title">Quản lý khách sạn</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="error">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"> <a class="nav-link" th:href="@{/employee/getAllRoomType}"> Loại phòng  </a></li>
                            <li class="nav-item"> <a class="nav-link" th:href="@{/employee/getAllRoom}"> Phòng </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllComment}" aria-expanded="false">
                        <i class="ti-comment-alt menu-icon"></i>
                        <span class="menu-title">Quản lý bình luận</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/employee/getAllFeedback}" aria-expanded="false">
                        <i class="ti-comment menu-icon"></i>
                        <span class="menu-title">Quản lý đánh giá</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <!-- partial -->
    <!-- partial -->
</body>

</html>
<script>
    $(document).ready(function () {
        // Đảm bảo không có đoạn mã nào như thế này mà bạn không nhận ra
        $('.nav-link').first().addClass('active');
    });

</script>

<script src="js/vendor.bundle.base.js"></script>
<script src="js/Chart.min.js"></script>
<script src="js/jquery.dataTables.js"></script>
<script src="js/dataTables.bootstrap4.js"></script>
<script src="js/dataTables.select.min.js"></script>
<script src="js/off-canvas.js"></script>
<script src="js/hoverable-collapse.js"></script>
<script src="js/template.js"></script>
<script src="js/settings.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/Chart.roundedBarCharts.js"></script>
<script src="js/chart.js"></script>