<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/fancybox.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/bootstrap-datepicker.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/jquery.timepicker.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/owl.carousel.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../fonts/ionicons/css/ionicons.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../fonts/fontawesome/css/font-awesome.min.css}">

    <link rel="stylesheet" type="text/css" th:href="@{../css/animate.css}">
    <link rel="stylesheet" type="text/css" th:href="@{../css/aos.css}">
    <!-- Theme Style -->
    <link rel="stylesheet" type="text/css" th:href="@{../css/style1.css}">
    <title> Room</title>
</head>
<style>
    h5:hover,
    p:hover {
        transform: translateY(-10px);
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

    .modal-content {
        border: none;
        border-radius: 0.5rem;
    }

    .modal-body {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .modal-body img {
        height: 30rem;
        /* Increase the image height */
        width: 30rem;
        /* Increase the image width */
        object-fit: cover;
        margin-right: 1rem;
    }

    .modal-backdrop.show {
        opacity: 0.3 !important;
    }
</style>

<body>
    <header th:insert="~{Hotel/header1 :: header}"></header>
    <section class="site-hero overlay" style="background-image: url(images/hero_4.jpg)"
        data-stellar-background-ratio="0.5">
        <div class="container">
            <div class="row site-hero-inner justify-content-center align-items-center">
                <div class="col-md-10 text-center" data-aos="fade-up">
                    <span class="custom-caption text-uppercase text-white d-block  mb-3">Welcome To 5 <span
                            class="fa fa-star text-primary"></span> Hotel</span>
                    <h1 class="heading">A Best Place To Stay</h1>
                </div>
            </div>
        </div>

        <a class="mouse smoothscroll" href="#next">
            <div class="mouse-icon">
                <span class="mouse-wheel"></span>
            </div>
        </a>
    </section>
    <!-- END section -->

    <section class="section bg-light pb-0">
        <div class="container">

            <div class="row check-availabilty" id="next">
                <div class="block-32" data-aos="fade-up" data-aos-offset="-200">

                    <form th:action="@{/hotel/getRoom}" th:method="get">
                        <div class="row">
                            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                <label for="checkin_date" class="font-weight-bold text-black">Check In</label>
                                <div class="field-icon-wrap">
                                    <div class="icon"><span class="icon-calendar"></span></div>
                                    <input type="text" th:value="${startDate}" id="checkin_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3 mb-lg-0 col-lg-3">
                                <label for="checkout_date" class="font-weight-bold text-black">Check Out</label>
                                <div class="field-icon-wrap">
                                    <div class="icon"><span class="icon-calendar"></span></div>
                                    <input type="text" th:value="${endDate}" id="checkout_date" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-6 col-lg-3 align-self-end">
                                <button type="submit" class="btn btn-primary btn-block text-white">Check
                                    Availabilty</button>
                            </div>
                        </div>
                    </form>
                </div>


            </div>
        </div>
    </section>

    <section class="section">
        <div class="container">
            <div class="row justify-content-center text-center mb-5">
                <div class="col-md-7">
                    <h2 class="heading" data-aos="fade-up">Rooms &amp; Suites</h2>
                    <p data-aos="fade-up" data-aos-delay="100">Far far away, behind the word mountains, far from the
                        countries
                        Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right
                        at the
                        coast of the Semantics, a large language ocean.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4" data-aos="fade-up" th:each="roomType : ${roomTypeList}">
                    <a href="#" class="room">
                        <figure class="img-wrap">
                            <img th:src="@{/images/{image}(image=${roomType.images})}" class="card-img-top"
                                alt="Room Image" style="height: 20rem; object-fit: cover;">
                        </figure>
                        <div class="p-3 text-center room-info">
                            <h2 th:text="${roomType.roomTypeName}">Single Room</h2>
                            <span class="text-uppercase letter-spacing-1"
                                th:text="${roomType.price} + ' VND / Day'"></span>
                            <form th:action="@{/hotel/getRoom}" th:method="get">
                                <input type="hidden" name="roomType" th:value="${roomType.roomTypeID}">
                                <button type="submit"
                                    style="color: black; font-weight: lighter; border: none; background-color: transparent;"
                                    onmouseover="this.style.color='orange'" onmouseout="this.style.color='black'">Book
                                    Room</button>
                            </form>
                            <button data-bs-toggle="modal" th:data-bs-target="'#modal' + ${roomType.roomTypeID}"
                                style="color: black; font-weight: lighter; border: none; background-color: transparent;"
                                onmouseover="this.style.color='orange'" onmouseout="this.style.color='black'">View
                                Details</button>

                        </div>
                    </a>
                </div>
            </div>
        </div>
    </section>
    <div th:each="roomType : ${roomTypeList}">
        <div th:id="'modal' + ${roomType.roomTypeID}" class="modal fade" data-bs-backdrop="static"
            data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <!-- Increase modal size -->
                <div class="modal-content" style="height: 100%;">
                    <div class="modal-header">
                        <h4 class="modal-title" style="color: black; cursor: pointer;"
                            onmouseover="this.style.color='orange'" onmouseout="this.style.color='black'"
                            th:text="${roomType.roomTypeName}"></h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <div class="modal-body">
                        <img th:src="@{/images/{image}(image=${roomType.images})}" class="img-fluid mb-3"
                            alt="Room Image">
                    </div>
                    <div class="modal-footer">
                        <div>
                            <p><strong>Price:</strong> <span th:text="${roomType.price} + ' VND'"></span></p>
                            <p><strong>Description:</strong> <span th:text="${roomType.details}"></span></p>
                            <div class="mt-4">
                                <form th:action="@{/hotel/getRoom}" th:method="get" class="d-inline-block">
                                    <input type="hidden" name="roomType" th:value="${roomType.roomTypeID}">
                                    <input type="hidden" name="hiddenStartDate" th:value="${startDate}">
                                    <input type="hidden" name="hiddenEndDate" th:value="${endDate}">
                                    <button type="submit" class="btn btn-primary">Book Room</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>




    <footer th:insert="~{Hotel/footer1 :: footer}"></footer>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/bootstrap-datepicker.js"></script>
    <script src="js/jquery.timepicker.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/main.js"></script>
    <script>
        const modals = document.querySelectorAll('.modal');
        modals.forEach(modal => {
            modal.addEventListener('show.bs.modal', () => {
                document.getElementById('content').classList.add('blur-effect');
            });
            modal.addEventListener('hidden.bs.modal', () => {
                document.getElementById('content').classList.remove('blur-effect');
            });
        });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"></script>
</body>

</html>