body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('../images/forgot.jpg') no-repeat center center fixed;
    background-size: cover;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.forgot-password-form {
    background: transparent;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

.forgot-password-form h2 {
    margin-bottom: 20px;
    color: white;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    color: white;
}

.input-group input {
    width: calc(100% - 22px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    box-sizing: border-box;
    background: transparent;
    color: #fff;
}

.input-group input::placeholder {
    color: #fff;
    opacity: 0.5;
}

.submit-btn {
    background-color: #d4af7a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

.submit-btn:hover {
    background-color: #b08c58;
}
