<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}">
    <title>Change Password</title>
</head>



<body>

    <h2>Enter Email</h2>
    <div class='login'>
        <form th:action="@{/user/toChangePass}" th:method="post">
            <input name="email" id="code" placeholder='Enter email' type='text'>
            <button class='animated' type="submit">Submit</button>
        </form>
    </div>
</body>

</html>