<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/brands.min.css"
      integrity="sha512-DJLNx+VLY4aEiEQFjiawXaiceujj5GA7lIY8CHCIGQCBPfsEG0nGz1edb4Jvw1LR7q031zS5PpPqFuPA8ihlRA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css"
      integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <!--  -->
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery
    /3.7.1/jquery.min.js"
      integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo2
    1dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
      c
      rossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="./fancybox/jquery.fancybox-1.3.4.css"
      media="screen"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css"
      integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css"
      integrity="sha512-yHknP1/AwR+yx26cB1y0cjvQUMvEa2PFzt1c9LlS4pRQ5NOTZFWbhBig+X9G9eYW/8m0/4OXNx8pxJ6z57x0dw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <script
      type="text/javascript"
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"
    ></script>
    <script
      type="text/javascript"
      src="./fancybox/jquery.mousewheel-3.0.4.pack.js"
    ></script>
    <script
      type="text/javascript"
      src="./fancybox/jquery.fancybox-1.3.4.pack.js"
    ></script>
    <link
      rel="stylesheet"
      type="text/css"
      href="./fancybox/jquery.fancybox-1.3.4.css"
      media="screen"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Allura&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" th:href="@{/css/reUse.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>

  <body>
    <div>
      <header th:insert="~{header :: header}"></header>
      <div class="carosel">
        <div
          id="carouselExampleFade"
          class="carousel slide carousel-fade"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="images/10.jpg" class="d-block w-100" alt="..." />
              <div class="carosel_tittle">
                <p>Find excitement wherever you go</p>
                <h1>Switzerland</h1>
                <div class="bth"><a href="http://">READ MORE</a></div>
              </div>
              <!-- <img class="hehe" src="./img/62b342e93a6b3e0aaad173c0_PNG (V-4) (1).png" alt=""> -->
            </div>
            <div class="carousel-item">
              <img src="images/11.jpg" class="d-block w-100" alt="..." />
              <div class="carosel_tittle">
                <p>Find your perfect location</p>
                <h1>Salerno</h1>
                <div class="bth"><a href="http://">READ MORE</a></div>
              </div>
            </div>
            <div class="carousel-item">
              <img src="images/12.jpg" class="d-block w-100" alt="..." />
              <div class="carosel_tittle">
                <p>Visit the beautiful landscapes</p>
                <h1>Norway</h1>
                <div class="bth"><a href="http://">READ MORE</a></div>
              </div>
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleFade"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>

    <!-- deal -->

    <section class="deal">
      <div class="deal_tittlee">
        <p>Last minute offer for you</p>
        <h2>DEALS & DISCOUNT</h2>
      </div>

      <div class="container">
        <div class="left">
          <div class="im">
<!--            <img src="images/12.jpg" alt="" />-->
            <div class="mini_tittle">
              <h3>$ 950.00 USD</h3>
              <h4>Adventures in Japan</h4>
              <p>
                Get an unforgettable experience from each of our trips! Travel
                with us!
              </p>
            </div>
          </div>
        </div>
        <div class="right">
          <div class="right_top">
            <div class="top1">
              <div class="mini_tittle">
                <h3>$ 870.00 USD</h3>
                <h4>Extreme Madagascar</h4>
                <p>Enjoy each of our tours!</p>
              </div>
            </div>
            <div class="top2">
              <div class="mini_tittle">
                <h3>$ 900.00 USD</h3>
                <h4>Amazing Colombia</h4>
                <p>Enjoy each of our tours!</p>
              </div>
            </div>
          </div>
          <div class="right_bottom">
            <div class="mini_tittle">
              <h3>$ 700.00 USD</h3>
              <h4>Adventures in Japan</h4>
              <p>
                Get an unforgettable experience from each of our trips! Travel
                with us!
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- end_deal -->
    <!-- category -->
    <section div="category">
      <div class="category_tittle">
        <p>Many places for your trip</p>
        <h2>TOUR CATEGORIES</h2>
      </div>
      <div class="slide_category">
        <div class="mul">
          <div class="mul_card">
            <img src="/images/62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg" alt="" />
            <hr />
            <div class="mul_detail">
              <div class="mul_del1">8 days</div>
              <div class="mul_del1">Exotic</div>
              <div class="mul_del1">61+</div>
            </div>
            <hr />
            <div class="mul_tittle">
              <div class="money">$8000 VND</div>
              <p></p>
            </div>
            <button class="bth">ADD TO CART</button>
          </div>
          <div>
            <img
              src="/images/62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="/images//62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="/images//62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="/images//62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg"
              alt=""
            />
          </div>
          <div>
            <img
              src="/images//62b196385edaf64b6855aa37_beautiful-luxury-outdoor-swimming-pool-hotel-resort (1) (1) (1)-p-500.jpeg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <!-- end_cate -->
    <!-- tour_cate -->
    <!-- profile_cate -->
    <!-- video -->
    <!-- hehe -->
    <!-- post -->
    <!-- sub -->
    <!-- footer -->
    <footer></footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"
      integrity="sha512-HGOnQO9+SP1V92SrtZfjqxxtLmVzqZpjFFekvzZVWoiASSQgSr4cw9Kqd2+l8Llp4Gm0G8GIFJ4ddwZilcdb8A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.js"
      integrity="sha512-eP8DK17a+MOcKHXC5Yrqzd8WI5WKh6F1TIk5QZ/8Lbv+8ssblcz7oGC8ZmQ/ZSAPa7ZmsCU4e/hcovqR8jfJqA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script type="text/javascript">
      $(".mul").slick({
        slidesToShow: 3,
        slidesToScroll: 2,
        autoplay: true,
        infinity: true,
        dots: true,
        autoplaySpeed: 0,
        speed: 1000,
        /* xóa button */
        appendArrows: "",
      });
    </script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="./Counting-Up-To-Numerical-Values-On-Scroll-jQuery-Countup-js/jquery.countup.js"></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/brands.min.js"
      integrity="sha512-ojD9xRtdGdJLd9K/vMhV6GyO8G9wVrofDXmX4AjrKPctyKTLaVVwuAJhZanincPnSprZv1Nc3iDpxIi/6+Xv7A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/js/all.min.js"
      integrity="sha512-u3fPA7V8qQmhBPNT5quvaXVa1mnnLSXUep5PS1qo5NRzHwG19aHmNJnj1Q8hpA/nBWZtZD4r4AX6YOt5ynLN2g=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
    <script src="/static/js/"></script>
  </body>
</html>
